.vertical-bar-chart {
  width: 800px;
  margin: 0px auto;
  height: 800px;
}

.horizontal-stack-bar {
  width: 680px;
  height: 500px;
  margin: 0px auto;
}

.horizontal-bar-chart {
  width: 700px;
  height: 700px;
  margin: 0px auto;
}
